.dark {

    background-color: black;
    color: white;
    
  }

@media (prefers-color-scheme: dark) {

    .osdefault {
            
        background-color: black;
        color: white;
    }       

}